.mid-path {
	display: flex;
	min-width: 0;
	overflow: hidden;
}
.mid-path-head {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 0;
}
.mid-path-tail {
	flex: 0 0 auto;
	white-space: nowrap;
}
